spring:
  application:
    name: zuul-gateway

server:
  port: 2333

eureka:
  client:
    service-url:
      defaultZone: http://localhost:1234/eureka/
zuul:
  routes:
    client-a:
      serviceId: demo-client-a
      path: /**
    client-b:
      serviceId: demo-client-b
      path: /**

